<!DOCTYPE html>
<html>

<head>
  <title>Fine Student</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="common.css">
</head>

<body>
  <div class="container">
    <h4 id="name"></h4>
    <form>
      <div>
        <label id="breakfast">Breakfast</label>
        <input type="number" id="bCount" min="0" value="0" step="1">
      </div>
      <div>
        <label id="lunch">Lunch</label>
        <input type="number" id="lCount" min="0" value="0" step="1">
      </div>
      <div>
        <label id="dinner">Dinner</label>
        <input type="number" id="dCount" min="0" value="0" step="1">
      </div>
      <button type="submit" class="btn waves-effect waves-light block red lighten-1">Fine</button>
    </form>
  </div>

  <script type="text/javascript" src="scripts/commonModule.js"></script>
  <script type="text/javascript" src="scripts/fineWindow.js"></script>

</body>

</html>