<!DOCTYPE html>
<html>

<head>
  <title>Fine Student</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>

<body>
  <div class="container">
    <h4>Student name</h4>
    <form>
      <div>
        <label>Breakfast(SGD price)</label>
        <input type="number" min="0" value="0" step="1">
      </div>
      <div>
        <label>Breakfast(SGD price)</label>
        <input type="number" min="0" value="0" step="1">
      </div>
      <div>
        <label>Breakfast(SGD price)</label>
        <input type="number" min="0" value="0" step="1">
      </div>
      <button type="submit" class="btn waves-effect waves-light">Fine</button>
    </form>
  </div>

</body>

</html>