<!DOCTYPE html>
<html>

<head>
  <title>FF-Calculator</title>
  <link rel="stylesheet" href="./mainWindow.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'deposit')">Deposit</button>
    <button class="tablinks" onclick="openTab(event, 'debt')">Debt</button>
    <button class="tablinks" onclick="openTab(event, 'settings')">Settings</button>
  </div>

  <div id="welcome" class="tabcontent">
    <h3>Welcome to FF-Calculator</h3>
    <p>Anglo-Chinese School (Independent) boarders' greatest nightmare.</p>
  </div>

  <div id="deposit" class="tabcontent">
    <h3 class="left">Deposit</h3>
    <div class="alternate-option">
      <button class="btn-floating right btn-large waves-effect waves-light" onclick="createAddDepositWindow()"><i class="large material-icons">add</i></button>
    </div>
    <div class="clearfix"></div>
    <p>This tab is to keep track of all the remaining deposit of the boarders.</p>
    <ul id="depositlist" style="height: 78%; overflow: auto"></ul>
  </div>

  <div id="debt" class="tabcontent">
    <h3>Debt</h3>
    <p>This tab keeps track of the amount of money the boarders have to pay in cash.</p>
  </div>

  <div id="settings" class="tabcontent">
    <h3>Settings</h3>
    <p>This tab is to set the price of breakfast, lunch and dinner.</p>
    <h4>
      Price (in SGD)
    </h4>
    <form>
      <div>
        <label>Breakfast</label>
        <input class="priceinput" type="number" step="0.1" min="0" value="0" disabled>
      </div>
      <div>
        <label>Lunch</label>
        <input class="priceinput" type="number" step="0.1" min="0" value="0" disabled>
      </div>
      <div>
        <label>Dinner</label>
        <input class="priceinput" type="number" step="0.1" min="0" value="0" disabled>
      </div>
      <button type="button" id="editpricebtn" class="btn" onClick="editPriceInput()">Edit</button>
      <button type="button" id="editpricedonebtn" class="btn" onClick="doneEdittingPrice()" disabled>Done</button>
    </form>
  </div>

  <script type="text/javascript" src="scripts/tabSwitch.js"></script>
  <script type="text/javascript" src="scripts/depositTab.js"></script>
  <script type="text/javascript" src="scripts/settingsTab.js"></script>

</body>

</html>